.sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
}

.breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
}

.breadcrumb > li {
        display: inline-block;
        margin-right: 0;
        margin-left: 0;
}

.breadcrumb > li:after {
        content: ' / ';
        color: #888;
}

.breadcrumb > li:last-of-type:after {
        content: '';
        margin-left: 0;
}

.thumbnails > li {
        display: inline-block;
        margin-right: 10px;
}

.thumbnails > li:last-of-type {
        margin-right: 0;
}

/*self-defined*/
blockquote {
    font-size: large !important;
}
code {
    font-size: large !important;
}
#post-index #main {
    max-width: 1059px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
time {
        margin-right: 0.5em;
}
.category {
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.category::before { 
    content: "Category: ";
}
.category li{
        display: inline;
}
.entry-meta{
    display: flex !important;
    justify-content: space-between;
}
.tags {
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.entry-meta .tag{
        margin: 0;
}
.tags::before { 
    content: "Tags: ";
}
.tags li{
        display: inline;
        padding-right: .5em; 
}
.postpromonav{
      display: inline;  
}
.pager{
      display: inline;  
      padding: 0;
}
.pager li{
      display: inline; 
      padding-right: 1em;
      @media screen and (max-width: 600px) {
            padding-right: 0.3em;
        }
        @media screen and (max-width: 992px) {
            padding-right: 0.5em;
        } 
}
.share{
        display: flex !important;
    justify-content: flex-end;
}
.share span{
        vertical-align: center !important;
        margin-right: 1em;
      @media screen and (max-width: 600px) {
            margin-right: 0.3em;
        }
        @media screen and (max-width: 992px) {
            margin-right: 0.5em;
        }
}